body {
  padding: 0;
  margin: 0;


}

.container{
  background-color: #FFF2E0;
  height: 50vh;
  width: 50vw;
}

.square {
background-color: #A63E26;
height: 50px;
width:50px;
}
.square1 {
background-color: #D97B29;
height: 50px;
width:50px;
}
.square2 {
background-color: #4D5922;
height: 50px;
width:50px;
}
.square3 {
background-color: #8BABB5;
height: 50px;
width:50px;
}
.square4 {
background-color: #A65844;
height: 50px;
width:50px;
}
.square5 {
background-color: #A65844;
height: 50px;
width:50px;
}
header{
text-align:center;
}
