body {
  background-color: #F6E9D9;
  padding: 0;
  margin: 0;


}

.container{
  position: relative;
  background-color: #FFF2E0;
  height: 700px;
  width: 200px;
}



.square {
background-color: #A63E26;
height: 100px;
width:100px;
}
.square1 {
background-color: #D97B29;
height: 100px;
width:100px;
}
.square2 {
background-color: #4D5922;
height: 100px;
width:100px;
}
.square3 {
background-color: #8BABB5;
height: 100px;
width:100px;
}
.square4 {
background-color: #1F37BF;
height: 100px;
width:100px;
}
.square5 {
background-color: #9E1064;
height: 100px;
width:100px;
position
}
.square6{
background-color: #7D1FA6;
height: 100px;
width:100px;
}
.square7{
position: absolute;
top: 0px;
left: 100px;
background-color: #F2C166;
height: 100px;
width:100px;
}
.square8{
position: absolute;
top: 100px;
left: 100px;
background-color: #BF0449;
height: 100px;
width:100px;
}
.square9{
position: absolute;
top: 200px;
left: 100px;
background-color: #A8AD80;
height: 100px;
width:100px;
}
.square10{
position: absolute;
top: 300px;
left: 100px;
background-color: #5DA6A6;
height: 100px;
width:100px;
}
.square11{
position: absolute;
top: 400px;
left: 100px;
background-color: #7D6B7D;
height: 100px;
width:100px;
}
.square12{
position: absolute;
top: 500px;
left: 100px;
background-color:#8C0808;
height: 100px;
width:100px;
}
.square13{
position: absolute;
top: 600px;
left: 100px;
background-color:#EC4863;
height: 100px;
width:100px;
}
.squareA{
position: absolute;
top: 100px;
left: 300px;
background-color:#EC4863;
height: 100px;
width:100px;
}
.squareB{
position: absolute;
top: 0px;
left: 400px;
background-color:#BF0449;
height: 100px;
width:100px;
}
.squareC{
position: absolute;
top: 200px;
left: 400px;
background-color:#7D1FA6;
height: 100px;
width:100px;
}




header{
color:black;
font-family: 'Rampart One', cursive;
text-align:center;
font-size:2em;
}
